<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CustomerGraphQl\Model\Customer\SaveCustomer">
        <plugin name="test-task-pack-hobby-data" type="Test\Task\Plugin\Customer\SaveCustomer"/>
    </type>
</config>
