<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="test-task-override-welcome" type="Test\Task\Plugin\Html\Header"/>
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="test-task-customer-section-data" type="Test\Task\Plugin\CustomerData\HobbySection" />
    </type>
</config>
